/* App container */
.app {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

/* Inputs */
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}

.button {
  padding: 0 16px;
  height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition-duration: 50ms;

}

.button:hover {
  background-color: #eee;
}

.button:active {
  transform: translateY(2px);
}

.text-input-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;

  margin-top: 20px;
}

.input-text {
  width: 500px;
  height: 40px;
  border-radius: 7px;
  background: white;
  color: #333;
  border: 1px solid #ccc;
  outline: none;
  text-indent: 5px;
  padding: 0 5px 0 5px;
}

/* Text */
.text-container {
  max-width: 80vw;
  margin: 0 auto;
}

.arabicText {
  margin: 0 auto;
  width: fit-content;
  font-family: "UthmanicRegular";
  font-size: 60px;
  text-align: center;
  color: #333;
}

.englishText {
  font-size: 24px;
  margin: 20px auto;
  width: fit-content;
  text-align: center;
  font-weight: bold;
  color: #333;
}