* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "UthmanicRegular";
  /* src: url("./fonts/uthmani-new.ttf") format("truetype"); */
  /* src: url("./fonts/UthmanicRegular.ttf") format("truetype"); */
  src: url("./fonts/UthmanicRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}